<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>{{ title|default('InsChat') }}</title>

  <link rel="manifest" href="/manifest.json">
  <link rel="icon" href="/static/icons/favicon.ico">
  <link rel="apple-touch-icon" href="/static/icons/inschat_icon_180x180.png">
  <meta name="theme-color" content="#ff0066">

  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="bg-gray-100 text-gray-900">
  {% block content %}{% endblock %}
</body>
</html>
